body {
    font-family: 'Roboto', sans-serif;
    grid-template-rows: auto auto auto auto auto auto auto 120px;
}

header {
    background: #023047;
    padding: 1rem;
    display: flex;
    column-gap: 3rem;
    color: #fff;
    align-items: center;
}

header img {
    width: 200px;
}

h2 {
    margin-top: 30px;
    font-size: 30px;
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
}

nav {
    background-color: #000000;
}

nav .active {
    background-color: #780000;
}

#hamburger-menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #fff;
    cursor: pointer;
    text-align: left;
    width: 100%;
}

#hamburger-menu::before {
    content: "☰";
}

#hamburger-menu.open::before {
    content: "❌";
}

ul.navigation li a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 0.50rem 3vw;
}

ul.navigation li:hover {
    background-color: #780000;
    cursor: pointer;
}

ul.navigation {
    display: none;
    padding-left: 0px;
    margin: 0;
}

ul.navigation.open {
    display: block;
}

/* Specific styling for home Page */

#hero-box {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.book {
    position: absolute;
    top: 60%;
    left: 40px;
    /* Puedes ajustar este valor según tu preferencia */
    transform: translateY(-50%);
    background-color: #000000;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
    transition: transform 0.3s ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    z-index: 1;
}

.book:hover {
    transform: translateY(calc(-50% - 3px));
}

.hidden {
    display: none;
}

#hero-img {
    width: 100%;
}

#introduction {
    color: white;
    background-color: #780000;
    padding: 2vw;
    text-align: center;
    margin-top: -10px;
}

#introduction p {
    width: 75%;
    margin: 0;
    margin: auto;
    margin-top: 10px;
}

/* Weather and events start */

#weatherevents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#weather {
    grid-area: 1 / 3 / 2 / 4;
    padding: 2vw;
    margin: 2vw;
    border-radius: 5px;
    background-image: url('../images/rain.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(179, 179, 179, 1);
    -moz-box-shadow: 3px 3px 10px 0px rgba(179, 179, 179, 1);
    box-shadow: 3px 3px 10px 0px rgba(179, 179, 179, 1);
    filter: grayscale(50%);
}

#weather h2 {
    margin: 0;
    padding-top: 1vw;
    padding-bottom: 1vw;
    color: #fff;
}

#weather-content p {
    margin: 5px;
    color: #fff;
}

#weather-content {
    text-align: center;
    border-radius: 5px;
    background-color: #000000af;
    color: var(--white);
    height: 100%;
}

#events {
    grid-area: 1 / 1 / 2 / 3;
    padding: 2vw;
    text-align: left;
}

#events h2 {
    margin: 0;
    text-align: left;
}

.uevent {
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 2vw;
    margin: 20px;
}

.uevent p {
    margin: 0;
}

#uevent-title {
    font-weight: bold;
}

#uevent-date {
    font-style: italic;
}

#uevent-description {
    margin-top: 1vw;
    margin-bottom: 1vw;
    color: var(--green-medium);
}

#uevent-more {
    font-style: italic;
    color: #780000;
}

#uevent-more:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* Weather and events end */

/* Spotligth Start */

#spotlight {
    text-align: center;
}

.hrgeneric {
    margin: 0 2vw 0vw 2vw;
}

#spotlight-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.member {
    text-align: center;
    margin: 2vw;
    padding: 0vw;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(179, 179, 179, 1);
    -moz-box-shadow: 3px 3px 10px 0px rgba(179, 179, 179, 1);
    box-shadow: 3px 3px 10px 0px rgba(179, 179, 179, 1);
}

.member p {
    margin-bottom: 20px;
}

.member-name {
    font-size: 1.5rem;
    color: var(--green-hard);
}

.member-phrase {
    font-style: italic;
    color: #000000;
}

.member-email,
.member-number,
.member-link {
    text-decoration: underline;
    color: #023047;
}

.member-email:hover,
.member-number:hover,
.member-link:hover {
    cursor: pointer;
}

/* Spotligth End */

/* Specific styling for Discover Page */
main.discoverPage {
    padding: 0;
}

.sidebarContent {
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebarContent h2 {
    background-color: white;
}

span#visitMessage {
    display: block;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

h2 {
    text-align: center;
}

.sidebarContent a {
    display: block;
    margin: 0 auto;
    text-align: center;
    border: 5px double black;
    background-color: #023047;
    padding: 10px;
    color: white;
    font-weight: bold;
}

.sidebarContent p {
    line-height: 25px;
    padding: 0 20px;
    text-align: center;
}

.sidebarContent figure {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}

.sidebarContent img {
    width: 100%;
    height: auto;
}

.calendar {
    text-align: center;
}

.calendar p {
    line-height: 50px;
}

.lastVisit {
    text-align: center;
}

.lastVisit p {
    line-height: 50px;
}

.imageGallery picture {
    margin: 0;
    padding: 0;
}

/* Demographics styles */
.demographics {
    text-align: center;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #000;
}

.count {
    font-size: 1.5em;
    color: #780000;
    font-weight: bold;
}

.label {
    padding: 10px;
    font-size: 1.5em;
    color: #000000;
    font-size: 1em;
}

/* Statistics styles */
.statistics-container {
    display: flex;
    height: 100%;
}

.statistics-sidebar {
    flex: 0 0 33%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #000;
    margin-left: 15px;
    margin-bottom: 10px;
}

.imageGallery img {
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    margin-top: 40px;
}

footer {
    background-color: #023047;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
}

/* new

/* Reset font size adjustments after orientation changes */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* Apply a natural box layout model to all elements */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Dark grey and pink theme */
body {
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
}


main {
    padding: 15px;
}

.top-heading h1 {
    display: block;
    color: #0c0036;
    margin: 0;
    width: fit-content;
    padding: 0 400px;
    /* Adjust as needed */
}

/* Company spotlights styles */
.company-spotlights-container {
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 30px;
    background-color: #bbb;
    padding: 30px;
    color: #000;
}

/* Card container styles */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1260px;
    margin: 0 auto;
}

.carrd {
    flex: 1 0 calc(33.33% - 20px);
    /* Adjust card width for large screens */
    margin: 0 10px 30px;
    /* Adjust margin as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #0c0036;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .carrd {
        flex: 1 0 calc(100% - 20px);
        /* Full width for smaller screens */
        margin-bottom: 20px;
        /* Add margin between stacked cards */
    }
}

.carrd h2 {
    color: #a3a3a3;
    padding: 10px;
    text-decoration: underline;
}

.carrd h3 {
    text-decoration: overline;
    text-align: center;
    padding: 10px;
    color: #a3a3a3;
}

.carrd p {
    color: #a3a3a3;
    text-align: justify;
}

.card {
    flex: 1 0 100%;
    margin: 0 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #a3a3a3;
    margin: 30px;
}

.card h2 {
    color: rgb(0, 0, 0);
    padding: 10px;
    text-decoration: underline;
}

.card h3 {
    text-decoration: overline;
    text-align: center;
    padding: 10px;
    color: #333;
}

.card p {
    color: #1a1313;
    text-align: justify;
}

.stuff {
    margin: 1rem auto;
}

.card:nth-child(1),
.card:nth-child(2) {
    flex: 1 0 100%;
}

.card:nth-child(3) {
    flex: 0 0 35%;
}

/*directory page*/
#directory-main {
    padding: 2rem;
}

.menu {
    padding: 0.5rem;
    text-align: center;
}

.menu button {
    padding: 1rem;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid #897a7a;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1.3rem;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem;
}

.list section>* {
    margin: 0 1rem;
}

.list section img {
    display: none;
}

.list section:nth-child(even) {
    background-color: rgba(74, 186, 214, 0.4);
}

.grid section {
    text-align: center;
    background: #ededed;
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #c3c0c0;
}

#directory-container section a {
    color: #000051;
    font-weight: bold;
    word-wrap: break-word;
}

#directory-container section h2 {
    font-size: 1.1rem;
}

/* Form styles */
form {
    text-align: left;
}

form fieldset {
    margin: 2rem 0;
    border: 1.5px solid #000000;
    border-radius: 1px;
    padding: 0.5rem 2%;
}

form legend {
    color: #0c0036;
    margin: 0 1rem;
    padding: 0 0.5rem;
}

form label.top,
form div {
    display: block;
    padding-top: 1rem;
    color: #000;
    font-size: 0.8rem;
}

form label.top input,
form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #0c0036;
    border-radius: 4px;
    padding: 0.75rem;
    color: #000;
    width: 100%;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
    display: block;
    padding: 0.75rem;
    color: #1a1313;
}

form label.top textarea {
    width: 100%;
    font-size: 1rem;
    max-width: 100%;
    padding: 0.75rem;
    border: 1px solid #0c0036;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.1);
    resize: vertical;
}

form label.top textarea::placeholder {
    color: #0c0036;
}

form input.submitBtn {
    border: none;
    background-color: #000;
    color: white;
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 100%;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: rgb(0, 0, 255) solid 6px;
}

/* Membership styles */
.design {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #ffffff;
}

main h1 {
    color: #000;
    background-color: #ffffff;
}

.membership h3 {
    text-decoration: overline;
}

main {
    background-color: #ffffff;
    border-radius: 20px;
}

.row {
    display: flex;
    flex-direction: column;
    margin: 0% 10%;
}

.cardfrontdetails p {
    text-align: justify;
    padding-bottom: 5px;
    margin-top: 20px;
}

.flip-card {
    margin: 5px;
    width: 100%;
    height: 250px;
    perspective: 1000px;
}

h3 {
    margin-top: 30px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.7s;
    transform-style: preserve-3d;
    border: 1.5px solid #000000;
    border-radius: 15px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

.flip-card-front {
    background: linear-gradient(rgba(2, 48, 71, 1), rgba(0, 0, 0, 0.8));
    color: white;
    background-size: cover;
}

.flip-card-back {
    background-size: cover;
    background-color: rgb(27, 27, 27);
    color: white;
    transform: rotateY(180deg);
}


.cardtitle h3 {
    font-size: 20px;
    margin: auto;
    margin-top: 15px;
}

.cardfrontdetails {
    margin: 0 10%;
    width: 80%;
}

.cardbackdetails {
    margin: 60px 0px;
}

.from {
    text-transform: uppercase;
}

.price {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 25px;
}

.btn {
    background: #fff;
    padding: 10px;
    text-decoration: none;
    color: rgb(27, 27, 27);
    border-radius: 5px;
}

.thank-you-message p {
    color: #000;
    display: none;

}

/* CSS to align buttons to the left side of the page */
#grid-view,
#table-view {
    margin-right: 10px;
    /* Add some space between the buttons */
}

.grid-buttons {
    margin-left: 20px;
    /* Add margin to separate buttons from the content */
}

button {
    padding: 5px;
    background-color: #bed;
    border: 1px solid #333;
    border-radius: 5px;
}

#cardfrontdetails #directory-container {
    color: #000;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* Adjust the gap between grid items */
}

.company-card {
    margin: 10px;
    flex: 1 1 300px;
    /* Adjust the width of each grid item */
    border: 1px solid #bed;
    padding: 20px;
    border-radius: 5px;
    background-color: #999;
}

/* For table view (list view) */
.member-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin-top: 10px;
}

.member-table th,
.member-table td {
    padding: 10px;
    border: 1px solid #ccc;
}

.member-table th {
    background-color: #bed;
    /* Header background color */
}

.member-table tr:nth-child(even) {
    background-color: #f9f9f9;
    /* Even row background color */
}

.member-table tr:nth-child(odd) {
    background-color: #bed;
    /* Odd row background color */
}

@media (max-width: 768px) {
    .company-caard {
        flex: 1 1 300px;
        /* Adjust the width of each grid item */
        padding: 5px;
        margin: -10px;
    }

    .company-caard:nth-child(1) {
        margin-top: 20px;
    }

    .company-caard:last-child {
        margin-bottom: 20px;
    }

    cardfrontdetails .company-caard:nth-child(even) {
        background-color: #bed;
        /* Even row background color */
    }

    .company-caard:nth-child(odd) {
        background-color: #f9f9f9;
        /* Odd row background color */
    }

    .top-heading h1 {
        padding: 20px 0;
    }

    .card {
        flex: 1 0 100%;
        margin: 10px 0;
    }

    .card:nth-child(1),
    .card:nth-child(2) {
        flex: 1 0 100%;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .cardfrontdetails p {
        margin: auto;
    }
}

@media only screen and (max-width: 700px) {

    .design {
        display: block;
    }

    .flip-card {
        height: 325px;
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(0deg);
    }
}
